<div class="container">
    <div class="row">
        <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
            <a href="https://yosi90.github.io/portfolio/" target="_blank">
                <mat-card id="cv">
                    <p>Curriculum</p>
                    <div class="techs">
                        <img class="hcj" src="../assets/img/hcj.png" alt="">
                    </div>
                </mat-card>
            </a>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
            <a href="https://rol.yosiftware.es/" target="_blank">
                <mat-card id="fichas">
                    <p>Fichas 3.5</p>
                    <div class="techs">
                        <img class="angular" src="../assets/img/angular.png" alt="">
                        <img class="material" src="../assets/img/material.svg" alt="">
                        <img class="firebase" src="../assets/img/firebase.png" alt="">
                        <img class="bootstrap" src="../assets/img/bootstrap.png" alt="">
                    </div>
                </mat-card>
            </a>
        </div>
    </div>
    <div id="pie" class="row align-items-center bg-black mt-3">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <p id="copy" class="ms-2">
                Copyright &copy; 2176 todos los derechos reservados por
                <a href="#">Yosiftware S.A.</a>
            </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
                <li>
                    <a class="github" href="https://github.com/yosi90" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li>
                    <a class="trello" href="https://trello.com/w/yosiftware" target="_blank">
                        <i class="fa-brands fa-trello"></i>
                    </a>
                </li>
                <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/AntonioJGonzález" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>