<div class="container-fluid">
    <main class="projects">
        <section class="simple-projects">
            <a class="simple-card" *ngFor="let project of simpleProjects" [href]="project.url" target="_blank" [attr.aria-label]="project.title">
                <mat-card>
                    <div class="simple-image" [style.background-image]="'url(' + project.backgroundImage + ')'"></div>
                    <p class="simple-title">{{ project.title }}</p>
                </mat-card>
            </a>
        </section>

        <section class="featured-projects">
            <div class="shadows">
                <div class="featured-slot" *ngFor="let project of featuredProjects">
                    <div class="cardShadow"></div>
                </div>
            </div>

            <div class="featured-slot" *ngFor="let project of featuredProjects">
                <a class="card featured-card" [href]="project.url" target="_blank" [style.transform]="project.initialTransform || null">
                    <mat-card [id]="project.backgroundId" [ngClass]="project.imageClass">
                        <p>{{ project.title }}</p>
                        <p class="bajar" *ngIf="project.subtitle">{{ project.subtitle }}</p>
                        <div class="techs" *ngIf="project.techs">
                            <img *ngFor="let tech of project.techs" [class]="tech.className" [src]="tech.icon" [alt]="tech.name" [matTooltip]="tech.tooltip">
                        </div>
                    </mat-card>
                </a>
            </div>
        </section>
    </main>

    <div class="row reset">
        <button mat-raised-button (click)="resetCards();" *ngIf="resetVisible">Resetear</button>
    </div>
    <div id="pie" class="row align-items-center bg-black mt-3">
        <div class="col-md-8 col-8">
            <p id="copy" class="ms-2">
                Copyright &copy; 2176
                <a href="#">Yosiftware S.A.</a>
            </p>
        </div>
        <div class="col-md-4 col-4">
            <ul class="social-icons">
                <li>
                    <a class="github" href="https://github.com/yosi90" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li>
                    <a class="trello" href="https://trello.com/w/yosiftware" target="_blank">
                        <i class="fa-brands fa-trello"></i>
                    </a>
                </li>
                <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/AntonioJGonzález" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
